@import "tailwindcss/preflight.css" layer(reset);
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellow-dark.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: var(--gray-1);
  color: var(--gray-12);
  color-scheme: dark;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  line-height: 1.5;
  overscroll-behavior: none;
}
